.nav-br{
    font-weight: bolder;
   
}
html{
    scroll-behavior: smooth;
}

html,
body{
width:100%;
overflow-x:hidden;
}

body{
    margin: 0px;
    padding: 0px;
    
}

/* custom nabar css over bootstrap */
.navbar{

    padding-left: 50px;
  
    color: aliceblue;

    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}




#title{
    padding-top: 150px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    
    /* gradient for background */

    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

#title {
    color: aliceblue;
}
#title h1{
    font-weight: bolder;
}
#title p{

    text-align: left;
    margin-bottom: 15%;
}

.title-img{
    
    padding-bottom: 5%;
    text-align: center;
    width: 500px;
    animation: rotation 35s infinite linear;
    position: relative;
    left: 10%; 
   
}




@media (max-width: 600px){

    .title-img{
        width: 200px;
       
    }
}





/* Rotate image animation keyframe */

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }



  /* Button styling */


  .btn{
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 40px;
      margin-bottom: 20px;
  }




/* Features section styling */

#features{
    margin-top: 5%;
  
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 5%;
    text-align: center;
}

.custom-feature{
    margin-top: 5px;
    margin-bottom:5px ;
}


/* Adding Extra space between 2 row only on big screens */
@media (min-width: 600px){

    .hr-features{
        margin-top: 2%;
        border: 10px dotted violet;
        border-bottom: none;

    }


    .row-2{
        margin-top: 5%;
    }

}


/* Features section icons */

.custom-heart{
    position: relative;
    color: black;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: heart-ani 1s infinite alternate-reverse;
    top: 2px;
    transition: top 1s ease-in-out;
}



@keyframes heart-ani{
    from{
        top: 2px;
        color: black;
        
    }
    to{
        top: 10px;
        color: #C33764;
    }
    
}



/* Daily news section styling */

@keyframes bg-animate{
    0%{
        background: rgb(231, 175, 203);
    }
    50%{
        background: rgb(210, 240, 252);
    }
    100%{ 
        background: whitesmoke;
    }
}

#daily-news{
    color: black;
    padding-top: 3%;
    padding-bottom: 5%;
    text-align: center;
    
    animation: bg-animate 15s infinite alternate-reverse;
    /* background-color: whitesmoke; */
    /* background: linear-gradient(to right, #b9beeb, #da9baf); */
    /* background: #C33764;  
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);  
    background: linear-gradient(to right, #1D2671, #C33764);  */
    transition: animation;
    
}
#daily-news h1{
    padding-bottom: 5%;
}

.carousel-item{
    
    padding-left: 10%;
    padding-right: 10%;
    font-size: large;
}

hr{

    border: 5px dotted snow;
    border-bottom: none;
    width: 10%;
    margin-bottom: 5%;
}

#contact-us{
    position: relative;
    z-index: 3;
    padding-top: 3%;
    padding-bottom: 5%;
    
     background: #C33764;  
     background: -webkit-linear-gradient(to right, #1D2671, #C33764); 
    background: linear-gradient(to right, #1D2671, #C33764); 
}

#contact-us h1, #contact-us p{
    color: aliceblue;
    text-align: center;

}

.contact-us-form{
    position: relative;
    padding: 2%;
    padding-top: 2%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 500px;
    background-color: aliceblue;
    border-radius: 15px;
    transition: 1s;
    
    
}


/* Hover effect only on big screens */

@media (min-width: 700px){

.contact-us-form:hover{
    height: 500px;
    width: 600px;
    
    
}
}


.custom-form{
    
    position: relative;
    text-align: center;
}

.contact-us-form label{
    font-weight: bolder;
    font-size: 20px;
} 

.copyright-footer{
    margin-top: 5%;
    font-weight: bold;
}

.form-row{
    padding-top: 5%;
    padding-bottom: 3%;
}



/* Contact Details styling */
.contact-details{
    padding-bottom: 10%;
    padding-left: 5%;
    text-align: left;
    color: aliceblue;
}

.contact-details-div{
    padding-top: 10%;
}

/* custom button styling */

.custom-button{
    position: relative;

 margin-top: 10%;
    
    width: 50%;
    border-radius: 30px;
    height: 60%;
    background-color: #C33764;
    font-weight: bolder;
    color: aliceblue;
    background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    z-index: 1;   
}

.custom-button::before{
    border-radius: 30px;
    position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to left, #1D2671, #C33764);
  z-index: -1;
  transition: opacity .5s linear;
  opacity: 0;
}

.custom-button:hover::before {
    opacity: 1;
  }







/* Form styling for mobile devices */
@media (max-width: 600px){
    .form-control{

        width: 60%;
    }

    .custom-form{
        
        text-align: left;
    }

    .custom-button{
        
        position: relative;
    
     margin-top: 2%;
        height: 130%;
        width: 90%;
    }

    .contact-us-form{

        width: 300px;
    }

    .form-row{
        margin-left: 5%;
    }

    .form-control{
        width: 85%;
    }

       
}



/* 12 Houses styling */



#particles-js{
    height: 65%;
    width: 100%;
    background-color: #111a68;
   
    position: absolute;
}

.astrology-data{
    color: aliceblue;
    text-align: center;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    
    position: relative;
    z-index: 2;
}

@media (max-width:450px){
    #particles-js{
        height: 228vh;
    }
}

/* FAQ section */
#faq-section{
     position: relative; 
    z-index: 3;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;

    background: linear-gradient(to right, #1D2671, #C33764); 
}

.card-header{
    padding: 0%;
    
}

#faq-section h1{
    color: aliceblue;
}



