.nav-br {
    font-weight: bolder;
}

/* To remove creepy white line in right */

/* Ref - > https://www.weblimitless.com/stop-website-showing-white-space-right-side/ */

html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    /* removing kindoff botton scrolling(overflowing on x-axis is hidding now ) */
    overflow-x: hidden;
}

.img-responsive-brand {
    margin-left:  5px !important;
    border-radius: 50px;
    height: auto;
    width: auto;
    max-height: 50px;
    max-width: 250px;
}

/* custom nabar css over bootstrap */

.navbar {
    max-width: 100%;
    padding-left: 25px;
    color: aliceblue;
    background: #C33764;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1D2671, #C33764);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.navbar-theme-toggle{
    margin-left: 7vw;
}
#title {
    min-width: 100%;
    padding-top: 150px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    /* gradient for background */
    background: #C33764;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1D2671, #C33764);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#title {
    color: aliceblue;
    margin-right: 0px;
}

#title h1 {
    font-weight: bolder;
}

#title p {
    text-align: left;
    margin-bottom: 15%;
}

.title-img {
    padding-bottom: 5%;
    text-align: center;
    width: 500px;
    animation: rotation 35s infinite linear;
    position: relative;
    left: 10%;
}

@media (max-width: 600px) {
    #title {
        min-width: 100%;
        padding-top: 75px;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
        /* gradient for background */
        background: #C33764;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #1D2671, #C33764);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #1D2671, #C33764);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
       /* text-align: center; */
    }
    .title-img {
        width: 100%;
        left: 0%;
    }
}

/* Rotate image animation keyframe */

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

/* animated scroll down icon styling */

.scroll-downs {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 34px;
    height: 55px;
}

.mousey {
    width: 7px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}

.scroller {
    width: 7px;
    height: 17px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }
    10% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}

/* Button styling */

.btn {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}

@media(max-width: 600px) {
    #outerbuttons {
        width: 100%;
        text-align: center;
    }
    #inner {
        display: inline-block;
    }
}

/* Features section styling */

#features {
    margin-top: 5%;
    margin-right: 0;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 5%;
    text-align: center;
}

.custom-feature {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5%;
}

/* Adding Extra space between 2 row only on big screens */

@media (min-width: 600px) {
    .hr-features {
        margin-top: 2%;
        border: 10px dotted violet;
        border-bottom: none;
    }
}

/* Features section icons */

.custom-heart {
    position: relative;
    color: black;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: heart-ani 1s infinite alternate-reverse;
    top: 2px;
    transition: top 1s ease-in-out;
}

@keyframes heart-ani {
    from {
        top: 2px;
        color: black;
    }
    to {
        top: 10px;
        color: #C33764;
    }
}

/* Daily news section styling */

@keyframes bg-animate {
    0% {
        background: rgb(231, 175, 203);
    }
    50% {
        background: rgb(210, 240, 252);
    }
    100% {
        background: whitesmoke;
    }
}

#daily-news {
    color: black;
    padding-top: 3%;
    padding-bottom: 5%;
    text-align: center;
    animation: bg-animate 15s infinite alternate-reverse;
    /* background-color: whitesmoke; */
    /* background: linear-gradient(to right, #b9beeb, #da9baf); */
    /* background: #C33764;
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);
    background: linear-gradient(to right, #1D2671, #C33764);  */
    transition: animation;
}

#daily-news h1 {
    padding-bottom: 5%;
}

.carousel-item {
    padding-left: 10%;
    padding-right: 10%;
    font-size: large;
}

hr {
    border: 5px dotted snow;
    border-bottom: none;
    width: 10%;
    margin-bottom: 5%;
}

#contact-us {
    position: relative;
    z-index: 3;
    padding-top: 3%;
    padding-bottom: 5%;
    background: #C33764;
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);
    background: linear-gradient(to right, #1D2671, #C33764);
}

@media (max-width: 600px) {

    #VisitUs {
        font-size: x-large;
        padding-left: 2%;
    }

    #bookAppointment {
        font-size: x-large;
        padding-bottom: 5%;
    }
}
#contact-us h1, #contact-us p {
    color: aliceblue;
    text-align: center;
}

.contact-us-form {
    position: relative;
    padding: 2%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    height: 750px;
    width: 530px;
    background-color: aliceblue;
    border-radius: 15px;
    transition: width 1s;
}

.loading-animation {
    visibility: hidden;
    text-align: center;
    box-sizing: border-box;
}

/* Hover effect only on big screens */

@media (min-width: 700px) {
    .contact-us-form:hover {
        /* height: 630px; */
        width: 540px;
    }
}

.custom-form {
    position: relative;
    text-align: center;
}

.contact-us-form label {
    font-weight: bolder;
    font-size: 20px;
}

.copyright-footer {
    margin-top: 5%;
    font-weight: bold;
}

.form-row {
    padding-top: 3%;
    padding-bottom: 3%;
}

/* Contact Details styling */

.contact-details {
    padding-bottom: 10%;
    padding-left: 5%;
    text-align: left;
    color: aliceblue;
}

.contact-details-div {
    padding-top: 10%;
}

/* custom button styling */

.custom-button {
    position: relative;
    margin-top: 10%;
    width: 50%;
    border-radius: 30px;
    height: 60%;
    background-color: #C33764;
    font-weight: bolder;
    color: aliceblue;
    background: linear-gradient(to right, #1D2671, #C33764);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    z-index: 1;
    outline: none;
    outline-style: none;
    border: none;
}

.custom-button:focus {
    outline-style: none;
}

.custom-button:active {
    outline-style: hidden;
    outline: none;
    border: none;
}

.custom-button::before:active {
    outline-style: hidden;
    outline: none;
    border: none;
}

.custom-button::before {
    outline-style: none;
    outline: none;
    border: none;
    border-radius: 30px;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to left, #1D2671, #C33764);
    z-index: -1;
    transition: opacity .5s linear;
    opacity: 0;
}

.custom-button:hover::before {
    opacity: 1;
}

/* Form styling for mobile devices */

@media (max-width: 600px) {

    /* .contact-us-form {
        height: 92vh;
    } */
    .custom-form {
        text-align: left;
    }
    .custom-button {
        position: relative;
        margin-top: 2%;
        height: 130%;
        width: 90%;
    }
    .contact-us-form {
        width: 300px;
    }
    .form-row {
        margin-left: 5%;
    }
    .form-control {
        width: 85%;
    }
}

/* 12 Houses styling */

#particles-js {
    height: 100%;
    width: 100%;
    background-color: #111a68;
    position: absolute;
}

.astrology-data {
    color: aliceblue;
    text-align: center;
    padding-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5%;
    position: relative;
    z-index: 2;
}

@media (max-width:450px) {
    #particles-js {
        height: 228vh;
    }
}

/* FAQ section */

#faq-section {
    position: relative;
    z-index: 3;
    padding-top: 5% ;
    padding-left: 2% ;
    padding-right: 5% ;
    padding-bottom: 5% ;
    background-color: rgb(235, 230, 230);
}




@media(max-width : 600px){

    .custom-faq{
     width: 95vw !important;

    }
}

.card-header {
    padding: 0%;
}

#faq-section h3 {
    padding-bottom: 5%;
    text-align: center;
    color: black;
}


.btn-faq:active, .btn-faq:focus{
    outline: none !important;
    box-shadow: none;
}




/* Response text styling */

.response-text {
    margin-bottom: 20px;
    padding: 1rem 1.5rem;
    text-align: center;
}

#form-time {
    visibility: hidden;
}

#form-response {
    opacity: 0;
    padding-bottom: 1%;
    font-weight: 600;
    font-size: medium;
    border-radius: 15px;
    background-color: rgb(158, 217, 235);
    margin-bottom: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*Symbol effect for Services */

.giphy{
  border-radius: 25px;
  height:200px;
  width:200px;
  box-shadow: 3px 3px 2px grey;
  margin-bottom:5px;
}
